/* 
 Autor: Marcelo Martínez
  Santa Fe, capital
  Argentina - 2021
  Aquí: administrador css de los contenidos (subtítulos y párrafos) de cada apartado. Nada más.


*/

#Co {
    
    padding-left: 0.5em;
}