.platzi-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:azure;
    padding: 10px;
    
    
}

.platziImg {
    display: flex;
    max-width: max-content;
    box-sizing: content-box;
    margin-left: 5px;
    
}
.platzi-imagenes a img:hover {
    transform: scale(5);
    z-index: 100;
    cursor: pointer;
    margin: auto;
    display: flex;
    transition: 10ms;
    
}


@media (max-width: 750px) {
    .platzi-imagenes a img:hover{
       margin: auto;
       max-width: 50%;
       z-index: 100;
        
        }
        .platzi-imagenes {
            padding: 10px;
            margin: auto;
        }
  }
  
  @media (max-width: 450px) {
    .platzi-imagenes a img:hover{
       margin: auto;
       max-width: 50%;
       z-index: 100;
       
        }
        .platzi-imagenes {
            padding: 10px;
            margin: auto;
        }
  }
  @media (max-width: 412px) {
    .platzi-imagenes a img:hover{
       margin: auto;
       max-width: 50%;
       z-index: 100;
        
        }
        .platzi-imagenes {
            padding: 10px;
            margin: auto;
        }
  }
    
    